{% extends 'base.html.twig' %}




{% block title %}Product index{% endblock %}

{% block body %}

    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Descriptions</th>
                <th>Price</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.email }}</td>
                <td>{{ product.phone }}</td>
                <td>{{ product.delivery }}</td>
                <td>{{ product.payment }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('purchase_order_new') }}">Create new</a>
<br>



<a href="{{ path('product_stats') }}">Statistics</a>

{% endblock %}

