{% extends 'base.html.twig' %}


{% block body %}
<body bgcolor="#90EE90">

Počet nalezených položek: {{ stats.totalProducts|length }}



    <h1>Product stats</h1>
    
    Total products: {{ stats.totalProducts }}
    <br>
    Products in stock: {{ stats.onStock }}
    <br>
    Products in stock: {{ stats.bestseller|capitalize }}
    <br>
    Last Updated: {{ stats.lastUpdate|date("m.d.Y")}}
    <br>
    
    <a href="{{ path('product_index') }}">Index product</a>
</body>
{% endblock %}