{% extends 'base.html.twig' %}

{% block title %}ProgrammingLanguage index{% endblock %}

{% block body %}
    <h1>ProgrammingLanguage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TestString</th>
                <th>TestBoolean</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for programming_language in programming_languages %}
            <tr>
                <td>{{ programming_language.id }}</td>
                <td>{{ programming_language.testString }}</td>
                <td>{{ programming_language.testBoolean ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('programming_language_show', {'id': programming_language.id}) }}">show</a>
                    <a href="{{ path('programming_language_edit', {'id': programming_language.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('programming_language_new') }}">Create new</a>
{% endblock %}
